 @import "tailwindcss"; 



/* .animated-gradient {
    background: linear-gradient(
      -45deg,
      #000000,
      #121212,
      #1a1a1a,
      #0a0a0a
    );
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    min-height: 100vh;
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }  */
  .background-gradient {
    background: radial-gradient(
      circle at top center,
      hsla(222, 80%, 60%, 0.5) 0%,
      hsla(222, 0%, 0%, 0) 50%,
      hsla(222, 0%, 0%, 0) 100%
    );
  }